# 先改klippy/extras/ldc1612.py 代码, 把 self.set_reg(REG_ERROR_CONFIG, (0x1f << 11) | 1) 把0x1f改成0x1c, 把SETTLETIME=0.005改为 0.0002
# 校准驱动电流: LDC_CALIBRATE_DRIVE_CURRENT CHIP=eddy_probe
# 校准频率高度对应关系: PROBE_EDDY_CURRENT_CALIBRATE CHIP=eddy_probe
# tap模式设置自动Z偏移: SET_Z_FROM_PROBE METHOD=tap
# tap模式下probe单点精度测试: PROBE_ACCURACY METHOD=tap
# 无接触模式下probe单点精度测试: PROBE_ACCURACY
# 2025-05-02更新 tap阈值自动寻找: 
# 1.tap阈值粗略校准 PROBE_EDDY_CURRENT_TAP_CALIBRATE TAP=guess
# 2.tap阈值精确校准 PROBE_EDDY_CURRENT_TAP_CALIBRATE TAP=refine
# 3.tap阈值验证,最后保存就可以了 PROBE_EDDY_CURRENT_TAP_CALIBRATE TAP=verify

# 启用 M118 echo 命令, RESPOND命令支持
[respond]

# 启用强制移动命令, SET_KINEMATIC_POSITION支持
[force_move]
enable_force_move: true

[safe_z_home]
home_xy_position:10,35    #Z归位时的X，Y坐标（例如100，100），在这个坐标上进行Z归位。
speed: 100                  #工具头移动到安全Z原点的速度，默认为50毫米/秒
z_hop: 5                   #在归位前抬升Z轴的距离（mm）。这将用于任何归位命令，即使它没有将Z轴归位。
z_hop_speed: 5            #在归位之前，Z轴抬升的速度（单位：mm/s），默认为15mm/s。
move_to_previous: false     #当设置为 "True "时，X轴和Y轴在Z轴归位后会重置到之前的位置，默认为false。

[gcode_macro to_my_calibrator]
gcode:
    G1 X32.10 Y12.40 Z5 F6000

[probe_eddy_current eddy_probe]
sensor_type: ldc1612
i2c_address: 42
i2c_mcu: toolhead
frequency: 40000000
i2c_speed: 400000
# i2c_bus: i2c1
i2c_software_scl_pin: toolhead:SCL1
i2c_software_sda_pin: toolhead:SDA1
# reg_drive_current: 25      #驱动电流, 直接写死不用校准, 改klippy/extras/ldc1612.py代码, 1: SETTLETIME = 0.0002 2: self.set_reg(REG_ERROR_CONFIG, (0x1c << 11) | 1)
x_offset: 0                  #记得设置x偏移
y_offset: 20                 #记得设置y偏移
descend_z: 2                 #原来是z_offset 无接触探测时停止的高度
max_sensor_hz: 7000000       #我这个线圈频率高
speed: 5                     #探测速度
samples: 3                   #采样次数
sample_retract_dist: 5.0     #采样时喷嘴抬升距离
samples_tolerance: 0.05
samples_tolerance_retries: 3
# tap_threshold: 45598.639   #tap模式阈值参数, 默认是0, 表示禁用tap功能, 至少大于测量噪声的两倍, 阈值低了会在半空停止, 2026=05-02更新自动tap阈值测量, 这个注释掉
tap_z_offset: 0              #间隙调整, klipper最新更新的参数, 咱们还是用 position_endstop 来调整间隙方便点

#集成线圈的加速度计配置
[lis2dw]
i2c_address: 25
i2c_mcu: toolhead
# i2c_bus: i2c1
i2c_speed: 400000   # 如果mcu占用率太高,可以调大I2C速度
i2c_software_scl_pin: toolhead:SCL1
i2c_software_sda_pin: toolhead:SDA1
[resonance_tester]
accel_chip: lis2dw
accel_per_hz: 50
probe_points: 100, 100, 20

# 板载AHT20温度传感器配置, 需要升级到最新版的klipper版本才能用
# 低主频mcu就不要用了, 会增加打印过程中的不稳定因素
# [temperature_probe eddy_probe]
# horizontal_move_z: 2
# sensor_type: AHT2X
# i2c_mcu: toolhead
# i2c_speed: 400000
# i2c_address: 56
# i2c_software_scl_pin: toolhead:SCL1
# i2c_software_sda_pin: toolhead:SDA1
# aht10_report_time: 5 # 温度报告时间间隔, 最低为5秒

[gcode_macro Z_TILT_ADJUST]
description: eddy 快速Z调平, 三点调平
rename_existing: _Z_TILT_ADJUST
gcode:
  {% set PROBE_Z_OFFSET = printer.configfile.settings['probe_eddy_current eddy_probe'].descend_z|float %}
  # ========== 状态保存 ==========
  SAVE_GCODE_STATE NAME=STATE_Z_TILT
  # ========== 环境准备 ==========
  BED_MESH_CLEAR # 清除存在的网床数据
  # ========== 主调平过程 ==========
  # 第一次调平前先慢慢调平, 三点之差在很小范围内再扫床, 避免撞床
  {% if not printer.z_tilt.applied %}
    # 初始粗调
    _Z_TILT_ADJUST horizontal_move_z=8 retry_tolerance=1 SAMPLES=1
  {% endif %}
  # 精细调平
  _Z_TILT_ADJUST horizontal_move_z={PROBE_Z_OFFSET} retry_tolerance=0.0075 retries=20 METHOD=rapid_scan ADAPTIVE=1  
  # ========== 后处理 ==========
  G90                               # 绝对坐标
  G0 Z5 F300                        # 抬升Z轴
  M117 Z_tilt Completed             # 显示完成状态  
  # ========== 状态恢复 ==========
  RESTORE_GCODE_STATE NAME=STATE_Z_TILT
  M400

# Z_TILT_ADJUST跟QUAD_GANTRY_LEVEL 二选一
#[gcode_macro QUAD_GANTRY_LEVEL]
#rename_existing: _QUAD_GANTRY_LEVEL
#description: eddy 快速Z调平, 四点龙门调平 
#gcode:
#    {% set PROBE_Z_OFFSET = printer.configfile.settings['probe_eddy_current eddy_probe'].descend_z|float %}
#    # ========== 状态保存 ==========
#    SAVE_GCODE_STATE NAME=STATE_QGL
#    # ========== 环境准备 ==========
#    BED_MESH_CLEAR # 清除存在的网床数据
#    # ========== 主调平过程 ==========
#    # 第一次调平前先慢慢调平, 四点之差在很小范围内再扫床, 避免撞床
#    {% if not printer.quad_gantry_level.applied %}
#      # 初始粗调
#      _QUAD_GANTRY_LEVEL horizontal_move_z=10 retry_tolerance=1 SAMPLES=1
#    {% endif %}
#    # 精细调平
#    _QUAD_GANTRY_LEVEL horizontal_move_z={PROBE_Z_OFFSET} retry_tolerance=0.0075 retries=20 METHOD=rapid_scan ADAPTIVE=1
#    # ========== 后处理 ==========
#    G90                      # 绝对坐标
#    G0 Z5 F300               # 抬升Z轴
#    M117 QGL Completed       # 显示完成状态
#    # ========== 状态恢复 ==========
#    RESTORE_GCODE_STATE NAME=STATE_QGL
#    M400

# eddy 快速网床
[gcode_macro BED_MESH_CALIBRATE]
rename_existing: _BED_MESH_CALIBRATE
gcode:
    {% set PROBE_Z_OFFSET = printer.configfile.settings['probe_eddy_current eddy_probe'].descend_z|float %}
    _BED_MESH_CALIBRATE horizontal_move_z={PROBE_Z_OFFSET} METHOD=rapid_scan {rawparams}

[gcode_macro PROBE_EDDY_CURRENT_CALIBRATE_AUTO]
description: 第一次使用涡流时, 校准使用
gcode:
  BED_MESH_CLEAR
  G28 X Y
  G90 # Abs positioning
  G1 X20 Y20 F6000
  {% if 'z' not in printer.toolhead.homed_axes %}
    SET_KINEMATIC_POSITION Z={ printer.toolhead.axis_maximum.z-1 } # Allows the user to work it down until it touches.
  {% endif %}
  PROBE_EDDY_CURRENT_CALIBRATE CHIP=eddy_probe

[gcode_macro _RELOAD_Z_OFFSET_FROM_PROBE]
description: tap模式设置Z偏移, 这个命令多次运行, 打印出来的probe_Z是负的, set_Z是3-4mm左右, 看set_Z的一致性来判断稳定性, 第一次调试执行这个命令后, 要垫A4纸, 设置Z=0, 试试纸张的摩擦力再实际打印
gcode:
  {% set Z = printer.toolhead.position.z %}
  {% set position_endstop = 0 %}
  {% set raw_config = printer.configfile.config %}
  {% if 'stepper_z' in raw_config %}
      # 从position_endstop里获取校准的偏移
      {% set position_endstop = raw_config.stepper_z.position_endstop|trim|float %}
  {% endif %}
  {% set setZ = Z - printer.probe.last_probe_position.z + position_endstop %}
  SET_KINEMATIC_POSITION Z={setZ}
  # 这个命令多次运行, 打印出来的probe_Z是负的, set_Z是3-4mm左右, 看set_Z的一致性
  RESPOND MSG="position_Z={'%0.3f' | format(Z)} probe_Z={'%0.3f' | format(printer.probe.last_probe_position.z)} position_endstop={'%0.3f' | format(position_endstop)} set_Z={'%0.3f' | format(setZ)}"

[gcode_macro SET_Z_FROM_PROBE]
description: Z归零使用tap模式命令: SET_Z_FROM_PROBE METHOD=tap
gcode:
  {% set METHOD = params.METHOD | default("automatic") %}
  G0 Z5 F300
  PROBE METHOD={METHOD} SAMPLES=3 # probe速度默认为5mm/s
  _RELOAD_Z_OFFSET_FROM_PROBE
  G0 Z5 F300


[gcode_macro _GET_PROBE_POSITION]
description: tap模式设置Z偏移, 这个命令多次运行, 打印出来的probe_Z是负的, set_Z是3-4mm左右, 看set_Z的一致性来判断稳定性, 第一次调试执行这个命令后, 要垫A4纸, 设置Z=0, 试试纸张的摩擦力再实际打印
gcode:
  {% set Z = printer.toolhead.position.z %}
  {% set position_endstop = 0 %}
  {% set raw_config = printer.configfile.config %}
  {% if 'stepper_z' in raw_config %}
      # 从position_endstop里获取校准的偏移
      {% set position_endstop = raw_config.stepper_z.position_endstop|trim|float %}
  {% endif %}
  {% set setZ = Z - printer.probe.last_probe_position.z + position_endstop %}
  # 这个命令多次运行, 打印出来的probe_Z是负的, set_Z是3-4mm左右, 看set_Z的一致性
  RESPOND MSG="position_Z={'%0.3f' | format(Z)} probe_Z={'%0.3f' | format(printer.probe.last_probe_position.z)} position_endstop={'%0.3f' | format(position_endstop)} set_Z={'%0.3f' | format(setZ)}"

[gcode_macro TAP_PROBE_POSITION]
description: Z归零使用tap模式命令: SET_Z_FROM_PROBE METHOD=tap
gcode:
  G0 Z5 F300
  PROBE METHOD=tap SAMPLES=3 # probe速度默认为5mm/s
  _GET_PROBE_POSITION
  G0 Z5 F300
  

#*# [probe_eddy_current eddy_probe]
#*# reg_drive_current = 25
#*# calibrate =
#*# 	0.050000:6153868.474,0.090000:6140581.388,0.130000:6127867.579,
#*# 	0.170000:6115317.080,0.210000:6103169.564,0.250000:6091062.065,
#*# 	0.290000:6079560.578,0.330000:6068234.991,0.370000:6057241.097,
#*# 	0.410000:6046285.704,0.450000:6035889.644,0.490000:6025588.147,
#*# 	0.530000:6015705.358,0.570000:6005756.039,0.610000:5996345.174,
#*# 	0.650000:5987057.745,0.690000:5977972.925,0.730000:5969186.429,
#*# 	0.770000:5960489.236,0.810000:5952050.306,0.850000:5943877.082,
#*# 	0.890000:5935701.810,0.930000:5927889.235,0.970000:5920223.620,
#*# 	1.010000:5912764.810,1.050000:5905289.017,1.090000:5898103.733,
#*# 	1.130000:5890976.977,1.170000:5884077.907,1.210000:5877175.592,
#*# 	1.250000:5870536.629,1.290000:5863888.852,1.330000:5857435.115,
#*# 	1.370000:5850909.870,1.410000:5844620.816,1.450000:5838317.987,
#*# 	1.490000:5832176.287,1.530000:5825956.173,1.570000:5819920.503,
#*# 	1.610000:5813872.244,1.650000:5807985.030,1.690000:5802018.259,
#*# 	1.730000:5796317.264,1.770000:5790468.287,1.810000:5784845.412,
#*# 	1.850000:5779161.706,1.890000:5773692.038,1.930000:5768183.365,
#*# 	1.970000:5762838.762,2.010000:5757423.702,2.050000:5752229.031,
#*# 	2.090000:5747035.083,2.130000:5742004.153,2.170000:5736929.577,
#*# 	2.210000:5732048.202,2.250000:5727181.192,2.290000:5722445.384,
#*# 	2.330000:5717695.504,2.370000:5713156.223,2.410000:5708578.147,
#*# 	2.450000:5704132.087,2.490000:5699695.770,2.530000:5695400.939,
#*# 	2.570000:5691128.872,2.610000:5686991.617,2.650000:5682852.682,
#*# 	2.690000:5678856.946,2.730000:5674900.982,2.770000:5671038.292,
#*# 	2.810000:5667175.207,2.850000:5663429.908,2.890000:5659734.309,
#*# 	2.930000:5656142.745,2.970000:5652550.183,3.010000:5649078.999,
#*# 	3.050000:5645650.666,3.090000:5642298.806,3.130000:5638953.801,
#*# 	3.170000:5635723.930,3.210000:5632522.605,3.250000:5629407.909,
#*# 	3.290000:5626275.383,3.330000:5623281.125,3.370000:5620288.711,
#*# 	3.410000:5617389.947,3.450000:5614468.779,3.490000:5611684.695,
#*# 	3.530000:5608890.083,3.570000:5606189.363,3.610000:5603489.622,
#*# 	3.650000:5600896.236,3.690000:5598289.136,3.730000:5595773.518,
#*# 	3.770000:5593240.872,3.810000:5590811.838,3.850000:5588387.080,
#*# 	3.890000:5586050.298,3.930000:5583692.707,3.970000:5581396.028,
#*# 	4.010000:5579187.412,4.050000:5577017.456
#*# tap_threshold = 46501.882